<li>
    <div class="row">
        <div class="col-xs-8">
            <div class="count hidden"></div>

            <!-- Play controls -->
            <div class="track__player">
                <div class="pull-left">

                    <!-- Play/Pause button -->
                    <button class="play nopush track__player-btn btn-link" title="@LocaleTextHelper.Get("play",Model.Microtext)">
                        <span class="sr-only">@LocaleTextHelper.Get("play", Model.Microtext)</span>
                        <i class="track__player-icon nopush"></i>
                    </button>

                </div>
            </div>

            <div class="track__details">

                <!-- Track title -->
                <a href=""></a>

                <!-- Track artists -->
                @{Html.RenderPartial("_NewBrandTrackComposerPartial", Model);}

                <!-- Track description -->
                <div class="track__description row--vertical-spacing-top-lg">@Model.Description</div>

            </div>
        </div>

        <div class="col-xs-4">
                <div id="result-@Model.Id">
                    <ul id="result-buttons-@Model.Id" class="track__controls list-inline">

                        <!-- Track duration -->
                        <li class="track__duration hidden-xs">
                            <span>@Model.DisplayDuration</span>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Favourite button > favourites -->
                            <li class="track__control track__control--favourite">
                                <button class="js-add-favourite track__favourite track__control-btn btn btn-link btn-sm" id="add-favourite-@Model.Id" title='@LocaleTextHelper.Get("add-to-favourites", Model.Microtext)'>
                                    <span class="sr-only">@LocaleTextHelper.Get("add-to-favourites", Model.Microtext)</span>
                                    <i class="track__favourite-icon nopush"></i>
                                </button>
                            </li>
                        }
                        else
                        {
                            <!-- Favourite button > login -->
                            <li class="track__control track__control--favourite">
                                <a class="track__favourite track__control-btn btn btn-link btn-sm" id="add-favourite-@Model.Id" href="@Url.Content("~/Favourites/Login?track=" + @Model.Id)" title='@LocaleTextHelper.Get("login", Model.Microtext)'>
                                    <span class="sr-only">@LocaleTextHelper.Get("add-to-favourites", Model.Microtext)</span>
                                    <i class="track__favourite-icon nopush"></i>
                                </a>
                            </li>
                        }

                        @if (!Model.IsMember)
                        {
                            if (Model.HasPrice)
                            {   
                                <!-- Price -->
                                <li class="track__control track__control--price hidden-xs">
                                    @if (@Model.DisplayOriginalPrice != "")
                                    {
                                        <span class="track__discount">@Model.DisplayOriginalPrice</span>
                                    }
                                    <button class="js-select-usage-test track__price track__control-btn btn btn-link btn-sm">@Model.DisplayPrice<i class="track__price-arrow icon-keyboard_arrow_down nopush"></i></button>
                                </li>
                            }
                            else
                            {
                                <!-- 'Show Prices' button -->
                                <li class="track__control track__control--price hidden-xs">
                                    <button class="js-select-usage-test track__show-price track__control-btn btn btn-anw-style1 btn-anw-outline btn-sm" data-location="track" title="@LocaleTextHelper.Get("please-select-a-license-type", Model.Microtext)">
                                        <span class="sr-only">@LocaleTextHelper.Get("please-select-a-license-type", Model.Microtext)</span>
                                        @LocaleTextHelper.Get("show-prices", Model.Microtext)
                                    </button>
                                </li>
                            }
                            if (Model.RemainingDemos > 0)
                            {

                                <!-- Buy button > modal -->
                                <li class="track__control track__control--buy btn-group">
                                    <a href="@Url.Action("AddToCart", "Cart", new {trackId = +Model.Id})" class="js-add-to-cart track__buy track__control-btn btn btn-anw-style1 btn-anw-outline btn-sm" data-demotrack title="@LocaleTextHelper.Get("add-to-cart", Model.Microtext)">
                                        <span class="sr-only">@LocaleTextHelper.Get("add-to-cart", Model.Microtext)</span>
                                        <span class="visible-xs nopush"><i class="track__buy-icon nopush"></i></span>
                                        <span class="hidden-xs nopush">@LocaleTextHelper.Get("buy", Model.Microtext)</span>
                                        <span class="nopush"><i class="icon-check2 nopush"></i></span>
                                    </a>
                                </li>
                            }
                            else
                            {

                                <!-- Buy button > cart -->
                                <li class="track__control track__control--buy btn-group">
                                    <a href="@Url.Action("AddToCart", "Cart", new {trackId = +Model.Id})" class="js-add-to-cart track__buy track__control-btn  btn btn-anw-style1 btn-anw-outline btn-sm" title="@LocaleTextHelper.Get("add-to-cart", Model.Microtext)">
                                        <span class="sr-only">@LocaleTextHelper.Get("add-to-cart", Model.Microtext)</span>
                                        <span class="visible-xs nopush"><i class="track__buy-icon nopush"></i></span>
                                        <span class="hidden-xs nopush">@LocaleTextHelper.Get("buy", Model.Microtext)</span>
                                        <span class="nopush"><i class="icon-check2 nopush"></i></span>
                                    </a>
                                </li>
                            }
                        }
                        @if (Model.IsMember)
                        {

                            <!-- Project button -->
                            <li class="track__control track__control--project hidden-xs">
                                <button class="js-project-addtrack track__project track__control-btn btn btn-link btn-sm" data-title="@Model.Title" data-modalmaxw="500" data-trackid="@Model.Id" id="add-to-project-@Model.Id" title="@LocaleTextHelper.Get("add-to-project", Model.Microtext)">
                                    <span class="sr-only">@LocaleTextHelper.Get("add-to-project", Model.Microtext)</span>
                                    <i class="track__project-icon gtm-project-addtrack nopush"></i>
                                </button>
                            </li>


                            if (Model.HasActiveSubscription && Model.HasDownloadCredits)
                            {

                            <!-- Download button -->
                                <li class="track__control track__control--download btn-group" id=@("download-" + Model.Id) title="@LocaleTextHelper.Get("download", Model.Microtext)">
                                    <a href="@Url.Action("DownloadFile", "FileDownload", new {trackId = @Model.Id, musicType = MusicType.wav})" class="track__download track__control-btn btn btn-default btn-sm btn--progress" id=@("download-" + Model.Id) title="@LocaleTextHelper.Get("download", Model.Microtext)">
                                        <span class="sr-only">@LocaleTextHelper.Get("download", Model.Microtext)</span>
                                        <span class="visible-xs nopush"><i class="track__download-icon"></i></span>
                                        <span class="hidden-xs nopush">@LocaleTextHelper.Get("download", Model.Microtext)</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                var title = !Model.HasActiveSubscription ? @LocaleTextHelper.Get("membership-lapsed-title", Model.Microtext) : @LocaleTextHelper.Get("no-downloads-remaining", Model.Microtext);

                                 <!-- Inactive Download button -->
                                <li class="track__control track__control--download btn-group" id=@("download-" + Model.Id) title="@title">
                                    <button class="track__download track__download--inactive track__control-btn btn btn-default btn-sm btn--progress">
                                        <span class="sr-only">@LocaleTextHelper.Get("download", Model.Microtext)</span>
                                        <span class="visible-xs nopush"><i class="track__download-icon"></i></span>
                                        <span class="hidden-xs nopush">@LocaleTextHelper.Get("download", Model.Microtext)</span>
                                    </button>
                                </li>
                            }

                        }
                    </ul>
            </div>
        </div>
    </div>