@mixin gradient-y-directional($start-color, $mid-color, $color-stop, $end-color, $deg) {
  background: linear-gradient($deg, $start-color, $mid-color $color-stop, $end-color $color-stop, $end-color);
  background-repeat: no-repeat;
}