.header {
  position: relative;
  z-index: $zindex-navbar;

  &__primary {
    background-color: $dark-blue;
  }

  &__secondary {
    background-color: $white;
    border-bottom: $border-width solid $gray-lighter;
    @extend .py-0;
  }

  &__logo {
    font-size: $font-size-base;
  }

  &__nav-item {
    font-size: $font-size-sm;
    @extend .mx-2;

    &.active {
      border-bottom: $border-width solid $white;
    }
  }

  &__nav-link {
    color: $gray;
  }

}
