.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-hero-image;
    height: 50vh;
    width: 100%;
    background-image: url('../images/hero-image.jpg');
	background-size: cover;
	background-position: 50% 50%;

	&__shadow {
		width: 100%;
    	height: 50vh;
    	background: rgba(0,0,0,0.2);

		&--half {
			@media screen and (min-width: 769px) and (max-width: 1199px) {
				@include gradient-y-directional(rgba(0,0,0,0.2),rgba(0,0,0,0.2), 70%, rgba(0,0,0,0), 65.17deg);
			}
			@media screen and (min-width: 1200px) {
				@include gradient-y-directional(rgba(0,0,0,0.2),rgba(0,0,0,0.2), 55%, rgba(0,0,0,0), 65.17deg);
			}
			@media screen and (max-width: 768px) {
				background: rgba(0,0,0,0.2);
			}
		}
	}

	&__stems {
		position: absolute;
		top: 0;
	    display: block;
	    height: 50vh;
	    width: 100%;
	    pointer-events: none;
		.stem {
			position: absolute;
		    pointer-events: none;
		    transform: rotate(-24.83deg);
		    &--top-center-one {
		    	top: -40%;
    			right: 47%;
		    }
		    &--center-right-one {
		    	top: 45%;
    			right: 25%;
		    }
		    &--center-right-two {
		    	top: 35%;
    			right: 25%;
		    }

		    &--inverted {
		    	transform: rotate(24.83deg);
		    }

			.stem__line {
    			stroke-width: 1px;
			    stroke: $white;
			}
		}
	}
}