.search-filters {
	position: relative;
	font-size: $font-size-sm;
	color: $gray;
	border-left: $border-width solid $gray-lighter;

	&__nav-right,
	&__nav-left {
		@extend .py-3, .px-2;
		cursor: pointer;
		position: absolute;
		top: 0;
		background: $white;
		z-index: $zindex-dropdown-backdrop;
	}
	&__nav-left {
		display: none;
		left: 0;
		border-right: $border-width solid $gray-lighter;
	}
	&__nav-right {
		right: 0;
		border-left: $border-width solid $gray-lighter;
	}
	&__container {
		//overflow-x: auto;
	}
	&__mask {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		.facet {
			position: relative;
			color: $gray;
			cursor: pointer;
			&:hover {
				.facet__toggle {
					color: $link-color;
					svg > * {
						stroke: $link-color;
					}
				}
			}
			&.active {
				background: $gray-dark-90;
				color: $white;
				&:hover {
					.facet__toggle {
						color: $white;
					}
				}
				.facet__dropdown, .facet__dropdown-controls {
					display: block;
				}
				.facet__toggle {
					svg > * {
						stroke: white;
					}

					&:after {
						top: 0.45rem;
						transform: rotate(315deg);
					}
				}
			}
			&.selected {
				color: $link-color;

				.facet__toggle {
					color: $link-color;
					svg > * {
						stroke: $link-color;
					}
				}

				&:hover {
					.facet__toggle {
						color: $link-color;
						svg > * {
							stroke: $link-color;
						}
					}
				}
			}
			&__toggle {
				@extend .px-3, .py-3;
				display: inline-block;
				width: 100%;
				line-height: $line-height-lg;
				padding-left: 2.8rem !important;
				padding-right: 1.6rem !important;
				white-space: nowrap;


				svg {
					position: absolute;
					left: 10px;
					top: 10px;

					&> *{
						fill: none;
						stroke: $gray;
						vector-effect: non-scaling-stroke;
						stroke-linejoin: round;
						stroke-linecap: round;
					}
				}

				&:after {
					border-style: solid;
				    border-width: 0.05rem 0.05rem 0 0;
				    content: '';
				    display: inline-block;
				    height: 0.5rem;
				    position: relative;
				    top: 0.25rem;
				    vertical-align: top;
				    width: 0.5rem;
				    left: .5rem;
				    transform: rotate(135deg);
					line-height: $line-height-lg;
				}
			}

			&__dropdown {
				display: none;
				background: $gray-dark-90;
				position: absolute;
				left: 50%;
				border-top: 2px solid $gray-dark-90;
				border-bottom: 2px solid $gray-dark-90;
				padding: 1.25rem;
				margin-left: -9.5rem;
				list-style-type: none;
				min-width: 19rem;
				max-height: 22rem;
  			overflow-y: scroll;
		    margin-top: 40px;


				/* Let's get this party started */
				&::-webkit-scrollbar {
				    width: 14px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
				    -webkit-border-radius: 10px;
				    border-radius: 10px;
				}

				/* Handle */
				&::-webkit-scrollbar-thumb {
					border: 5px solid rgba(0, 0, 0, 0);
				    -webkit-border-radius: 10px;
				    border-radius: 10px;
				    background: $gray-lighter;
			        background-clip: padding-box;
				}
				&::-webkit-scrollbar-thumb:window-inactive {
					background: $gray-lighter;
				}

				&-controls {
					display: none;
			    position: absolute;
			    left: 50%;
			    margin-left: -9.5rem;
			    list-style-type: none;
			    min-width: 19rem;
					min-height: 2rem;
			    z-index: 2;
			    background: #2f3337;
					padding: 0.5rem;
					text-align: right;
					border-bottom: 1px solid rgba(255,255,255,0.05);
				}

				&-btn {
					background: transparent;
			    border: none;
			    font-size: 10px;
					color: white;
			    opacity: 0.6;
					right: 0;
					top: 8px;
					cursor: pointer;
					outline: none;

					&:hover {
						opacity: 1;
					}

				}

				&-item {
					color: $gray-lighter;
					padding: 0 0 1.25rem;
					padding-left: 2rem;
					position: relative;


					&:before {
						content: "";
			      position: absolute;
						top: 1px;
						left: 0;
			      /* background-color: $gray; */
						border: 1px solid #5d6064;
			      height: 20px;
			      width: 20px;
						border-radius: 2px;
					}

					span {
						font-size: 12px;
						opacity: 0.6;
					}

					&:last-child {
						padding-bottom: 0;
					}
					&:hover {
						color: $white;
						cursor: pointer;

						&:before {
							/* background-color: $gray-lighter; */
							border-color: rgba(255,255,255,0.6);
						}
					}
					&.selected {
						color: white;

						&:before {
							background-color: $link-color;
						}
					}

					&--secondary {
						transform: translateY(0);
						transition: all .12s ease-in-out;
						height: auto;

						&.hidden {
							visibility: hidden;
							opacity: 0;
							height: 0;
							padding: 0;
							transform: translateY(-2px);
							transition: all .12s ease-in-out;
						}
					}
				}
			}
		}
	}
}
