.search-panel {
  	background: $white;
	border-bottom: $border-width solid $gray-lighter;

	.search-bar {
		&__field {
			border: 0;
			border-radius: 0;
			border-bottom: $border-width solid $gray-lighter;
		}
	}

}
