.search-terms {
  padding: ($spacer * .25) ($spacer * .5);
  background: $white;
  border-bottom: $border-width solid $gray-lighter;

  &__term {
    display: inline-block;
    position: relative;
    padding: ($spacer * .4) ($spacer * .5);
    padding-right: ($spacer * 2);
    border: $border-width solid $blue;
    border-radius: 2px;
    margin: ($spacer * .25);
    font-size: 14px;

    &:after, &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: $spacer;
      right: 10px;
      background-color: $gray;
      height: 1px;
      width: ($spacer * .75);
      border-radius: 150px;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(135deg);
    }
  }
}
