.template-nav {
	@extend .py-3;
	background: rgba($white,.1);
	font-size: $font-size-sm;
	.link-content {
		@extend .py-1, .px-3;
		font-size: $font-size-xs;
		color: $white;
		&--active {
			border: $border-width solid $white;
			border-radius: 1rem;
		}
	}
}
