.track {
	@extend .py-2;
	border-top: $border-width solid $gray-lighter;
	font-size: $font-size-xs;

	&:last-child {
		border-bottom: $border-width solid $gray-lighter;
	}

	&__details {
		@extend .px-2;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__name {
		font-family: $headings-font-family;
		font-size: $font-size-h6;
		color: $gray-dark;
	}

	&__artists-list {
		font-family: $headings-font-family;
		font-size: $font-size-sm;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:before {
			content: "-";
			padding-right: .25rem;
		}
	}

	&__artist {
		color: $gray;
	}

	&__artist:not(:last-child):after {
		content: "|";
		@extend .px-1;
	}

	&__mixes,
	&__mixes-related {
		white-space: normal;
		font-size: $font-size-xs;
		padding-top: .125rem;
		padding-bottom: .125rem;

		span {
			white-space: nowrap;
			display: block;
		}
	}
	&__mixes {
		margin-top: -0.25rem;
		padding-right: $btn-padding-x-sm;
		padding-left: $btn-padding-x-sm;
		margin-right: 0.25rem;
		margin-left: 0.25rem;
	}

	&__mixes-related {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	&__description {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__buttons-list {

	}

}

// Media Queries

@media (min-width: 1199px){
	.track__artists-list:before {
			content: "";
			padding: 0;
	}
}

@media (max-width: 768px){
	.track__name {
			font-size: $font-size-sm;
			padding: 0;
	}
}
