// Alternate buttons

.btn {
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-sm, $btn-border-radius);
  cursor: pointer;
}

.btn-circle {
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-sm, 50%);
}

.btn-default {
  @include button-filled-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-blue {
  @include button-filled-variant($btn-blue-color, $btn-blue-bg, $btn-blue-border);
}

.btn-purple {
  @include button-filled-variant($btn-purple-color, $btn-purple-bg, $btn-purple-border);
}

.btn-red {
  @include button-filled-variant($btn-red-color, $btn-red-bg, $btn-red-border);
}

.btn-icon {
	@include button-filled-variant($btn-icon-color, $btn-icon-bg, $btn-icon-border);
  @extend .p-0;
	@include size(2.375rem,2.375rem);
  border: $border-width solid transparent;
  cursor: pointer;

  &__asset {
    fill: none;
    stroke: #74777a;
  }

	&__play {
		border: $border-width solid $blue;
		@include button-filled-variant($btn-blue-color, $btn-blue-bg, $btn-blue-border);
    @extend .rounded-circle;
	}

	&__favourite {

	}

	&__projects {

	}
}

.btn-grey {
  @include button-filled-variant($btn-grey-color, $btn-grey-bg, $btn-grey-border);
}

// filled
.btn-filled-default {
  @include button-default-variant($btn-default-bg);
}
.btn-filled-blue {
  @include button-default-variant($btn-blue-border);
}
.btn-filled-purple {
  @include button-default-variant($btn-purple-bg);
}
.btn-filled-red {
  @include button-default-variant($btn-red-bg);
}
.btn-filled-icon {
  @include button-default-variant($btn-icon-bg);
}
.btn-filled-grey {
  @include button-default-variant($btn-grey-bg);
}

.link-content {
	color: $link-content-color;
	border: $link-content-border;
	background: $link-content-bg;
	text-decoration: $link-content-decoration;
	font-size: $font-size-sm;
	&:hover {
		text-decoration: $link-content-decoration;
	}
}
