.icon {
	@extend .align-self-center;

	&.icon-arrow-left {
		svg {
		    transform: rotate(180deg);
		}
	}

	svg {
		path,
		ellipse {
			fill: none;
			stroke: $gray;
			stroke-linecap:round;
			stroke-linejoin:round;
			stroke-miterlimit:10;
		}
	}
}
