.form-control {
  font-family: $font-family-base;
  
  &::-webkit-input-placeholder {
    font-size: $font-size-sm;
  }
  &::-moz-placeholder {
    font-size: $font-size-sm;
  }
  &:-ms-input-placeholder {
    font-size: $font-size-sm;
  }

}
